snippet if "if" b
if (${1}) {
  ${0}
}
endsnippet

snippet csl "console.log" b
console.log("${1}");
endsnippet

snippet cse "console.error" b
console.error("${1}");
endsnippet

snippet csw "console.warn" b
console.warn("${1}");
endsnippet

snippet fn "function" b
function ${1:fnname}(${2:args}) {
  ${0}
}
endsnippet
